<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TechTime</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{#if logged_in}}
        <div class="nav">
            <h1>TechTime</h1>
            <div class="nav-links">
                <a href="/dashboard">Dashboard</a>
                <a href="/homepage">Homepage</a>
                {{!-- Logout button --}}
                    <button id="logout"type="submit">Logout</button>
            </div>
        </div>
        {{else}}
        <div class="nav">
            <h1>TechTime</h1>
            <div class="nav-links">
                <a href="/login">Login</a>
                <a href="/homepage">homepage</a>
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>
        {{/if}}
        <main>
            {{{ body }}}
        </main>
    </body>
    <script src="/js/script.js"></script>
</html>