<div>
    <div>
    <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>
    <div>
        <h2>Sign Up</h2>
        <form class="signup-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username-signup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password-signup">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>