<section class="container">
    <div>
    <h2>Login</h2>
        <form class="login-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username-login">
            <label for="password">Password</label>
            <input type="password" name="password" id="password-login">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <div>
        <h2>Sign Up</h2>
        <form class="signup-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username-signup">
            <label for="password">Password</label>
            <input type="password" name="password" id="password-signup">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</section>

<script src="./js/login.js"></script>