/* Style to remove underline and change color of nav links */
.navLink {
    text-decoration: none;
    color: #000000;
}
/* Style for post-card background */
.post-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
/* Style for coment-card background to be different from post-card */
.comment-card {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}